.dashboard {
  display: flex;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../consult.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard .sidebar-container {
  width: 300px;
  border-right: 2px solid rgb(141, 141, 141);
  background-color: rgba(250, 235, 215, 0.427);
}

.dashboard .contact-container {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  display: flex;
}

.dashboard h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-bottom: 10px;
  color: aliceblue;
}

.dashboard p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: aquamarine;
}

.not-found {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  color: yellow;
  align-items: center;
  justify-content: center;
}

.logout {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../consult.jpg");
}
