.home {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url("../../consult.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-inline: 30px;
}

.home-title {
  font-size: 90px;
  margin-bottom: 10px;
  color: rgba(230, 221, 221, 0.813);
  word-spacing: 1%;
}

.home-description {
  font-size: 30px;
  margin-bottom: 20px;
  color: rgba(230, 221, 221, 0.813);
}
